.tab__container {
    padding: 50px;
}

.container {
    /*padding: 50px;*/
}

.ant-tabs-tab {
    margin: 0 100px 0 0 !important;
}

.ant-tabs-nav:before {
    border-bottom: 3px solid #E3EBF6 !important;
}

.ant-tabs-tab-btn {
    font-size: 18px;
    color: #91A0C9;
    font-weight: 500;
}

.ant-tabs-ink-bar {
    background: #272D67 !important;
    width: 74px !important;
    margin-left: 60px;
}

.ant-tabs-nav-wrap {
    padding: 0 50px;
    padding-top: 10px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #272D67 !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.input {

}

.textarea {
    resize: none;
}

.flex-wrap {

}

.tab__title {
    color: #5285FF !important;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.upload__note {
    width: 230px;
    display: inline-block;
    color: #91A0C9;
    font-size: 14px;
    font-style: italic;
    padding: 0 15px;
    box-sizing: border-box !important;
}

.upload__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

label {
    color: #676DAA !important;
    font-size: 16px;
}