.tab__container {
    padding: 30px 50px;
}

.container {
    /*padding: 50px;*/
}

.ant-tabs-tab {
    margin: 0 100px 0 0 !important;
}

.ant-tabs-nav:before {
    border-bottom: 3px solid #E3EBF6 !important;
}

.ant-tabs-tab-btn {
    font-size: 18px;
    color: #91A0C9;
    font-weight: 500;
}

.ant-tabs-ink-bar {
    background: #272D67 !important;
    width: 74px !important;
    margin-left: 60px;
}

.ant-tabs-nav-wrap {
    padding: 0 50px;
    padding-top: 10px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #272D67 !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.input {
    border: 1px solid #97A7CF !important;
    border-radius: 5px !important;
    padding: 14px !important;
}

.input.error {
    border: 1px solid #DD1E25 !important;
}

.textarea {
    resize: none;
}

.input::placeholder, .input input::placeholder {
    color: #91A0C9 !important;
}

.flex-wrap {

}

.tab__title {
    color: #5285FF !important;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.upload__note {
    width: 230px;
    display: inline-block;
    color: #91A0C9;
    font-size: 14px;
    font-style: italic;
    padding: 0 15px;
    box-sizing: border-box !important;
}

.upload__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upload__button {
    background: #91A0C9 !important;
    border-radius: 5px !important;
    color: #fff !important;
    height: 55px !important;
    font-size: 16px !important;
    padding: 10px 30px !important;
}

.upload__button .anticon-download {
    font-size: 20px !important;
}

label {
    color: #676DAA !important;
    font-size: 16px;
}

.clear-icon.textarea-clear {
    position: absolute;
    right: 22px;
    top: 55px;
    font-size: 16px;
}

.clear-icon {
    color: #E0E7F8 !important;
    cursor: pointer;
    transition: all .3s;
}

.clear-icon:hover {
    color: #91A0C9 !important;
}

.mobile_bg {
    z-index: 1;
}
.note__sample {
    position: relative;
    width: fit-content;
}

.note__subtitle {
    color: #272D67;
    font-size: 12px;
}

.note__title {
    color: #676daa;
    font-size: 18px;
    font-weight: 500;
}

.note__card {
    z-index: 2;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    width: calc(100% - 60px);
    left: 30px;
    top: 70px;
    box-shadow: 0px 10px 30px -1px rgba(103, 109, 170, 0.2);
}

.note__img {
    background: #EEF1FA;
    border-radius: 5px;
    margin-right: 20px;
    width: 64px;
    height: 64px;
}

.send__button-wrap {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
}

.send__button:hover {
    background: #456ed2 !important;
}

.send__button {
    background: #5285FF !important;
    color: #fff !important;
    border-radius: 5px !important;
    /*padding: 10px 20px !important;*/
    height: 55px !important;
    width: 211px;
}