.tab__container {
    padding: 50px;
}

.container {
    /*padding: 50px;*/
}

.ant-tabs-tab {
    margin: 0 100px 0 0 !important;
}

.ant-tabs-nav:before {
    border-bottom: 3px solid #E3EBF6 !important;
}

.ant-tabs-tab-btn {
    font-size: 18px;
    color: #91A0C9;
    font-weight: 500;
}

.ant-tabs-ink-bar {
    background: #272D67 !important;
    width: 74px !important;
    margin-left: 60px;
}

.ant-tabs-nav-wrap {
    padding: 0 50px;
    padding-top: 10px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #272D67 !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.input {
    border: 1px solid #97A7CF !important;
    border-radius: 5px !important;
    padding: 14px !important;
}

.textarea {
    resize: none;
}

.input::placeholder, .input input::placeholder {
    color: #91A0C9 !important;
}

.flex-wrap {

}

.tab__title {
    color: #5285FF !important;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.upload__note {
    width: 230px;
    display: inline-block;
    color: #91A0C9;
    font-size: 14px;
    font-style: italic;
    padding: 0 15px;
    box-sizing: border-box !important;
}

.upload__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upload__button {
    background: #91A0C9 !important;
    border-radius: 5px !important;
    color: #fff !important;
    height: 55px !important;
    font-size: 16px !important;
    padding: 10px 30px !important;
}

.upload__button .anticon-download {
    font-size: 20px !important;
}

label {
    color: #676DAA !important;
    font-size: 16px;
}

.clear-icon.textarea-clear {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
}

.clear-icon {
    color: #E0E7F8 !important;
    cursor: pointer;
    transition: all .3s;
}

.clear-icon:hover {
    color: #91A0C9 !important;
}

.mobile_bg {
    z-index: 1;
}