@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 37px;
  width: 134px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.content {
  /*min-height: calc(100vh - 140px);*/
  /*max-height: calc(100vh - 90px);*/
  /*overflow: auto;*/
  background: #F7F9FF;
}